/* universal */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: brown;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', monospace, sans-serif
}

/* side nav */

#topNav {
    display: none;
}

.fas.fa-bars {
    position: fixed;
    top: 0.2rem;
    left: 0.3rem;
    cursor: pointer;
    z-index: 2;
    font-size: 1.5rem;
}

#sideNav {
    text-align: left;
    background-color: darkred;
    width: 50%;
    height: 100%;
    position: fixed;
    z-index: 1;
    font-size: 1.5rem;
    display: none;
}

#sideNav li {
    margin: 6rem 0.3rem;
    font-size: 2rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* main */

#main h1, #main p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main h1 {
    top: 2%;
    font-size: 3.5rem;
}

#main p {
    top: 4.5%;
    font-size: 1rem;
    font-weight: 600;
}

#main img {
    width: 100%;
    height: 13rem;
}

/* mission */

#mission h2 {
    margin: 0.5rem 0rem;
    font-size: 2rem;
}

#mission p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

/* gallery */

#gallery h2 {
    margin: 0.5rem 0rem;
    font-size: 2rem;
}

#gallery section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#gallery figure {
    margin-bottom: 3rem;
}

#gallery img {
    width: 16rem;
    height: 13rem;
    border-radius: 0.1rem;
    border: solid 0.5rem white;
}

#gallery figcaption {
    font-size: 1.2rem;
}

/* team */

#team h2 {
    font-size: 2rem;
}

#team section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#team figure {
    margin-bottom: 1.5rem;
}

#team img {
    height: 13rem;
    width: 11rem;
    border: solid 0.5rem white;
    border-radius: 0.2rem;
    margin: 0.5rem 3rem 0rem;
}

#team figcaption {
    font-size: 1.2rem;
}

/* footer */

body {
    position: relative;
    padding-bottom: 7rem;
    /* min-height: 100%;
    height: 100%; */
}

#footer {
    position: absolute;
    bottom: 0;
    min-height: 0%;
    width: 100%;
    background-color: darkred;
    padding: 0.5rem 0.2rem 0rem;
}

#footer p {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

/* media queries */

@media only screen and (min-width: 406px) {
    /* gallery */
    #gallery figcaption {
        font-size: 1.1rem;
    }
    /* team */
    #team img {
        height: 16rem;
        width: 14rem;
    }
    #team figcaption {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 529px) {
    /* main */
    #main p {
        top: 5.5%;
        font-size: 1.4rem;
    }
    /* gallery */
    #gallery img {
        width: 14rem;
    }
}

@media only screen and (min-width: 656px) {
    /* side nav */
    #sideNav {
        width: 35%;
    }
    /* main */
    #main h1 {
        top: 3%;
        font-size: 4.4rem;
    }
    #main p {
        top: 7%;
        font-size: 1.7rem;
    }
    /* gallery */
    #gallery h2 {
        font-size: 2.5rem;
    }
    #gallery figure {
        margin: 0rem;
    }
    #gallery figcaption {
        font-size: 1.2rem;
    }
    /* team */
    #team h2 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    /* mission */
    #mission h2 {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 689px) {
    /* main */
    #main p {
        top: 8%;
    }
    /* gallery */
    #gallery img {
        width: 13rem;
    }
}

@media only screen and (min-width: 940px) {
    /* gallery */
    #gallery figcaption {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 978px) {
    /* side nav */
    .fas.fa-bars, #sideNav {
        display: none;
    }
    #topNav {
        display: block;
    }
    #topNav ul {
        text-align: right;
        position: absolute;
        top: 1.5rem;
        right: 0rem;
        font-size: 2.2rem;
    }
    #topNav li {
        list-style: none;
        display: inline;
        margin-right: 2.2rem;
        border: 0.1rem solid white;
        padding: 0rem 0.2rem;
        opacity: 0.8;
    }
    #topNav li:hover {
        font-weight: bolder;
    }
    /* main */
    #main img {
        height: 26rem;
    }
    #main h1 {
        top: 9%;
        font-size: 6.6rem;
    }
    #main p {
        top: 20%;
        font-size: 2.7rem;
    }
    /* mission */
    #mission {
        margin-top: 3rem;
    }
    /* gallery */
    #gallery h2 {
        margin-top: 5rem;
    }
    /* team */
    #team h2 {
        margin-top: 5rem;
    }
    #team img {
        margin-bottom: 0rem;
    }
}

@media only screen and (min-width: 1057px) {
    /* gallery */
    #gallery img {
        width: 15.5rem;
    }
    #gallery figcaption {
        font-size: 1.2rem;
    }
}