/* universal */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: brown;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', monospace, sans-serif
}

/* hero img */

#main h1, #main p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main h1 {
    top: 12%;
    font-size: 3.5rem;
}

#main p {
    top: 26%;
    font-size: 1rem;
    font-weight: 600;
}

#main img {
    width: 100%;
    height: 13rem;
}

/* mission */

#mission h2 {
    margin: 0.5rem 0rem;
    font-size: 2rem;
}

#mission p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

/* gallery */

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery figure {
    margin-bottom: 3rem;
}

#gallery img {
    width: 16rem;
    height: 13rem;
    border-radius: 0.1rem;
    border: solid 0.5rem white;
}

#gallery figcaption {
    font-size: 1.2rem;
}

/* team */

#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#team h2 {
    margin-bottom: 2rem;
}

#team figure {
    margin-bottom: 1.5rem;
}

#team img {
    height: 13rem;
    width: 11rem;
    border: solid 0.2rem white;
    border-radius: 0.2rem;
}

#team figcaption {
    font-size: 1.2rem;
}